<section class="skills-section">
    <div class="content center">
        <div >
            <div class="lines">
                <div class="wrap">
                    <div class="line">
                    </div>
                </div>
                <div class="wrap">
                    <div class="line">
                    </div>
                </div>
                <div class="wrap">
                    <div class="line">
                    </div>
                </div>
            </div>
            <div class="skills">
                <div class="skill">
                    <h2>Frontend</h2>
                    <div class="tags">
                        <div>angularjs</div>
                        <div>css3</div>
                        <div>html5</div>
                        <div>webgl</div>
                        <div>logos</div>
                        <div>traditional art</div>
                        <div>animation</div>
                        <div>marketing materials</div>
                        <div>mobile</div>
                        <div>branding</div>
                    </div>
                </div>
                <div class="skill">
                    <h2>Engineering</h2>
                    <div class="tags">
                        <div>.net/mono</div>
                        <div>java</div>
                        <div>go</div>
                        <div>cassandra</div>
                        <div>nodejs</div>
                        <div>mongo</div>
                        <div>titan</div>
                        <div>machine learning</div>
                        <div>rabbitMQ</div>
                        <div>hadoop</div>
                        <div>solr</div>
                        <div>neo4j</div>
                        <div>presto</div>
                    </div>
                </div>
                <div class="skill">
                    <h2>Automation</h2>
                    <div class="tags">
                        <div>aws</div>
                        <div>salt-stack</div>
                        <div>linux</div>
                        <div>shell</div>
                        <div>continuous integration</div>
                        <div>dev-ops</div>
                        <div>monitoring</div>
                        <div>auto-scaling</div>
                        <div>networking</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>