.intro-section {
    background: white;
}

.intro-section .bubbles {
    margin: 45px auto;
    position: relative;
    z-index: 100;
}

.intro-section .bubble {
    width: 33%;
    float: left;
    padding: 0px 25px;
    transition: all 1s cubic-bezier(.165,.84,.44,1);
    opacity: 0;
    transform: translate3d(0px, 100px, 0px);
    -webkit-transition-delay: 0.3s;
    background: white;
    padding-bottom: 0px;
    position: relative;
}

.intro-section .bubble .line {
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 100%;
    background: #BCBCBC;
    width: 2px;
    z-index: -100;
    transition: all 0.5s linear;
}

.intro-section.active .bubble .line {
    transform: translate3d(0, 100%, 0);
    -webkit-transition-delay: 1s;
}

.intro-section .bubble .wrap {
    padding-bottom: 100%;
    border-radius: 100%;
    border: 2px solid #BCBCBC;
    background: white;
}

.intro-section .bubble:nth-child(2) {
    -webkit-transition-delay: 0.4s;
}

.intro-section .bubble:nth-child(3) {
    -webkit-transition-delay: 0.5s;
}

.intro-section.active .bubble  {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
}
