.skills-section .content {
    position: relative;
}


section .lines {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 50%;
    z-index: -100;
}

section .lines .wrap {
    width: 33%;
    float: left;
    height: 100%;
    position: relative;
}

section .line {
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 100%;
    background: #BCBCBC;
    width: 2px;
    z-index: -100;
}

.skills-section .skills {
    background: white;
    overflow: hidden;
}
.skills-section .skill {
    width: 33%;
    padding: 25px 0px;
    float: left;
}

.skills-section h2 {
    font-size: 1.5em;
    font-family: Lato;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.skills-section p {
    font-size: 1.2em;
    margin-top: 10px;
}

.skills-section .tags > * {
    padding: 10px 20px;
    background: #F5F5F5;
    border-radius: 4px;
    font-size: 0.8em;
    text-transform: lowercase;
    color: #979797;
    margin: 10px 5px 0px 0px;
    display: inline-block;
}