.work-section {
}

.work-section .wrap {
    padding: 60px 0px;
}

.work-section .wrap .work {
    width: 25%;
    padding-bottom: 25%;
    background-size: cover;
    background-position: center;
    float: left;
    margin: 25px;
    border-radius: 50%;
    border: 1px solid transparent;
}

.work-section .wrap .work.border {
    border-color: #BCBCBC;
}