
.root {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    overflow-y: scroll;
}

.scroller {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
}

.scroller, .scroller * {
    transition: transform .5s cubic-bezier(.165,.84,.44,1);
}
    
.scroller.ready {
    transform: translate3d(0px, -200px, 0);
}

.scroller section {
    width: 100%;
    height: 100%;
    transition: transform .5s cubic-bezier(.165,.84,.44,1);
}

.scroller.ready section:nth-child(1) {
    transform: translate3d(0px, 100px, 0);

}

.scroller section:nth-child(2) {
    background: white;
    border-top: 1px solid #DFDFDF;
}